<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
</head>
<body>
    <h1>View your Profile</h1>
    <br>
    <h2>Description</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, obcaecati quae debitis illo excepturi eos, repellendus dolores necessitatibus magnam error modi nam sapiente.</p>
    <br>
    <p>your id is ></p>
</body>
</html>