<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="text-align: center">
    <h1>this is a Home page </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quibusdam fugiat vitae doloribus vero, reprehenderit blanditiis ducimus animi voluptatibus ea repellat inventore velit eveniet praesentium vel odio quasi suscipit tenetur.</p>
</body>
</html>